<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ejercicio4</title>

    <script>
        function check() {
            const edKm = document.getElementById("edKm").value;
            const edTm = document.getElementById("edTm").value;
            const edCm = document.getElementById("edCm").value;
            var toret = false;

            if (edKm.trim().length > 0 && edTm.trim().length > 0 && edCm.trim().length > 0 && !isNaN(edKm) && !isNaN(edTm) && !isNaN(edCm) && edTm!=0){
                toret = true;
            }
            return toret;
        }
    </script>
</head>
<body>
    <h1>Introduce los siguientes datos</h1>

    <form id="frmHello" action="/hello" method="post" onsubmit="return check()">
        <label for="edKm" >Kilómetros: (tiene que ser mayor que 0 y entero)</label>
        <input type="text" id="edKm" name="edKm" />
        <br>
        <label for="edTm">Tiempo(en horas y tiene que ser mayor que 0 y entero): </label>
        <input type="text" id="edTm" name="edTm" />
        <br>
        <label for="edCm">Consumo medio (por kilómetro y tiene que ser mayor que 0 y entero): </label>
        <input type="text" id="edCm" name="edCm" />

        <input type="submit" value="Calcula" />
    </form>
</body>
</html>